In [1]:
import pandas as pd

In [5]:
import chardet
file = 'DataCoSupplyChainDataset.csv'
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [7]:
df = pd.read_csv(file, sep=',',encoding ='ISO-8859-1')
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [17]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [14]:
customer = df[['Customer Id','Customer Segment','Customer City','Customer State','Customer Country','Customer Street']]
customer.head()

,Customer Id,Customer Segment,Customer City,Customer State,Customer Country,Customer Street
0,20755,Consumer,Caguas,PR,Puerto Rico,5365 Noble Nectar Island
1,19492,Consumer,Caguas,PR,Puerto Rico,2679 Rustic Loop
2,19491,Consumer,San Jose,CA,EE. UU.,8510 Round Bear Gate
3,19490,Home Office,Los Angeles,CA,EE. UU.,3200 Amber Bend
4,19489,Corporate,Caguas,PR,Puerto Rico,8671 Iron Anchor Corners

In [19]:
orders = df[['Order Id','Order Customer Id','order date (DateOrders)','Order Status','Order City','Order State','Order Country','Order Region','Market','shipping date (DateOrders)']]
orders.head()

,Order Id,Order Customer Id,order date (DateOrders),Order Status,Order City,Order State,Order Country,Order Region,Market,shipping date (DateOrders)
0,77202,20755,1/31/2018 22:56,COMPLETE,Bekasi,Java Occidental,Indonesia,Southeast Asia,Pacific Asia,2/3/2018 22:56
1,75939,19492,1/13/2018 12:27,PENDING,Bikaner,Rajastán,India,South Asia,Pacific Asia,1/18/2018 12:27
2,75938,19491,1/13/2018 12:06,CLOSED,Bikaner,Rajastán,India,South Asia,Pacific Asia,1/17/2018 12:06
3,75937,19490,1/13/2018 11:45,COMPLETE,Townsville,Queensland,Australia,Oceania,Pacific Asia,1/16/2018 11:45
4,75936,19489,1/13/2018 11:24,PENDING_PAYMENT,Townsville,Queensland,Australia,Oceania,Pacific Asia,1/15/2018 11:24

In [20]:
products = df.filter(like='Product', axis=1)
products.head()

,Order Item Product Price,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status
0,327.75,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0
1,327.75,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0
2,327.75,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0
3,327.75,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0
4,327.75,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0

In [28]:
categories = df.filter(like='Category',axis=1)

In [41]:
categories = categories[categories.duplicated()==False].set_index('Category Id').iloc[:,:-1].sort_index()

In [43]:
categories.head()

                   Category Name
Category Id
2                         Soccer
3            Baseball & Softball
4                     Basketball
5                       Lacrosse
6               Tennis & Racquet