In [1]:
import pandas as pd
pd.set_option('display.float_format', '{:.0f}'.format)

In [2]:
df = pd.read_csv('data_public.csv',index_col='Listing ID')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51304 entries, 1546393.0 to 1213837.0
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                51304 non-null  object
 1   Price                51304 non-null  float64
 2   Area                 51200 non-null  float64
 3   Location             51304 non-null  object
 4   Last Updated         51304 non-null  object
 5   Property Type        51304 non-null  object
 6   Width                34298 non-null  float64
 7   Length               25267 non-null  float64
 8   Bedrooms             16642 non-null  float64
 9   Bathrooms            10764 non-null  float64
 10  Floors               8680 non-null   float64
 11  Position             29432 non-null  object
 12  Direction            10674 non-null  object
 13  Alley Width          12253 non-null  float64
 14  Road Type            14164 non-null  object
 15  Description          45093 non-null  object
 16  Latitude             21448 non-null  float64
 17  Longitude            21448 non-null  float64
 18  VIP Account          51304 non-null  bool
 19  Avatar               51304 non-null  int64
 20  Agent Role           51304 non-null  object
 21  Agent Name           50375 non-null  object
 22  Agent Listing Count  51304 non-null  float64
 23  Province             51304 non-null  object
 24  Property Type Slug   51304 non-null  object
 25  Scraped At           51304 non-null  object
 26  Last Updated Date    51304 non-null  object
dtypes: bool(1), float64(11), int64(1), object(14)
memory usage: 10.6+ MB

In [4]:
df.head()

,Title,Price,Area,Location,Last Updated,Property Type,Width,Length,Bedrooms,Bathrooms,...,Longitude,VIP Account,Avatar,Agent Role,Agent Name,Agent Listing Count,Province,Property Type Slug,Scraped At,Last Updated Date
Listing ID,,,,,,,,,,,,,,,,,,,,,
1546393,"üè† NH√Ä 3 T·∫¶NG ‚Äì TRUNG T√ÇM PH∆Ø·ªöC LONG B, TH·ª¶ ƒê·ª®C",7500,95,"Ph∆∞·ªùng Ph∆∞·ªõc Long,TP. H·ªì Ch√≠ Minh",2 gi·ªù tr∆∞·ªõc,Nh√† ri√™ng,5,17,3,3,...,NaN,False,1,M√¥i gi·ªõi,Ng√¥ Quang T√πng,20,tp-ho-chi-minh,nha-mat-pho-mat-tien,2025-09-30 18:24:18,30/09/2025 16:24
1528310,üî•üî• NH√Ä ƒê·∫∏P HI·ªÜP B√åNH PH∆Ø·ªöC ‚Äì H·∫∫M XE H∆†I ‚Äì KHU ...,4500,66,"ƒë∆∞·ªùng Hi·ªáp B√¨nh,Ph∆∞·ªùng Hi·ªáp B√¨nh Ch√°nh,Qu·∫≠n Th...",2 gi·ªù tr∆∞·ªõc,Nh√† ri√™ng,4,NaN,2,NaN,...,NaN,False,1,M√¥i gi·ªõi,Ng√¥ Quang T√πng,20,tp-ho-chi-minh,nha-mat-pho-mat-tien,2025-09-30 18:24:18,30/09/2025 16:24
1546519,üåü HXH - NH√Ä 3 T·∫¶NG ƒê·∫∏P ‚Äì TRUNG T√ÇM PH∆Ø·ªöC LONG ...,7500,92,"Ph∆∞·ªùng Ph∆∞·ªõc Long B,Qu·∫≠n 9,TP. H·ªì Ch√≠ Minh",2 gi·ªù tr∆∞·ªõc,Nh√† ri√™ng,5,17,3,3,...,NaN,False,1,M√¥i gi·ªõi,Ng√¥ Quang T√πng,20,tp-ho-chi-minh,nha-mat-pho-mat-tien,2025-09-30 18:24:18,30/09/2025 16:24
1544240,üè° H√ÄNG HI·∫æM LINH CHI·ªÇU ‚Äì NH√Ä 2 T·∫¶NG ‚Äì V·ªä TR√ç V...,4750,45,"ƒë∆∞·ªùng s·ªë 19,Ph∆∞·ªùng Linh Chi·ªÉu,Qu·∫≠n Th·ªß ƒê·ª©c,TP....",2 gi·ªù tr∆∞·ªõc,Nh√† ri√™ng,4,12,3,NaN,...,NaN,False,1,M√¥i gi·ªõi,Ng√¥ Quang T√πng,20,tp-ho-chi-minh,nha-mat-pho-mat-tien,2025-09-30 18:24:18,30/09/2025 16:24
1528291,üöó NH√Ä ƒê·∫∏P H·∫∫M XE H∆†I ‚Äì V·ªä TR√ç VIP LINH T√ÇY ‚Äì G...,4800,82,"ƒë∆∞·ªùng s·ªë 9,Ph∆∞·ªùng Linh T√¢y,Qu·∫≠n Th·ªß ƒê·ª©c,TP. H·ªì...",2 gi·ªù tr∆∞·ªõc,Nh√† ri√™ng,8,NaN,2,1,...,NaN,False,1,M√¥i gi·ªõi,Ng√¥ Quang T√πng,20,tp-ho-chi-minh,nha-mat-pho-mat-tien,2025-09-30 18:24:18,30/09/2025 16:24

In [5]:
df['Property Type'].value_counts()

Property Type
ƒê·∫•t                29530
CƒÉn h·ªô chung c∆∞    11012
Nh√† ri√™ng           8184
Kho, nh√† x∆∞·ªüng      1800
Nh√† tr·ªç              538
Kh√°ch s·∫°n            196
VƒÉn ph√≤ng             44
Name: count, dtype: int64

In [6]:
df[df['Latitude'].isna()]['Property Type'].value_counts()

Property Type
ƒê·∫•t                13520
CƒÉn h·ªô chung c∆∞    10943
Nh√† ri√™ng           3047
Kho, nh√† x∆∞·ªüng      1661
Nh√† tr·ªç              459
Kh√°ch s·∫°n            188
VƒÉn ph√≤ng             38
Name: count, dtype: int64

In [7]:
# Since there are alot of missing data and unneeded data for this analysis in this dataset, lets only pick out the useful collumns
df= df[['Title','Price','Area','Location','Property Type','Width','Length','Bedrooms','Bathrooms','Floors']]

In [8]:
# Lets pick out the Wards and the Districts into different columns
df['Ward'] = df['Location'].str.extract(r'(?:Ph∆∞·ªùng|X√£)\s*([^,]+)')
df['Ward'] = df['Ward'].str.strip()
df['District'] = df['Location'].str.extract(r'(?:Qu·∫≠n|Huy·ªán)\s*([^,]+)')
df['District'] = df['District'].str.strip()
df.head()

,Title,Price,Area,Location,Property Type,Width,Length,Bedrooms,Bathrooms,Floors,Ward,District
Listing ID,,,,,,,,,,,,
1546393,"üè† NH√Ä 3 T·∫¶NG ‚Äì TRUNG T√ÇM PH∆Ø·ªöC LONG B, TH·ª¶ ƒê·ª®C",7500,95,"Ph∆∞·ªùng Ph∆∞·ªõc Long,TP. H·ªì Ch√≠ Minh",Nh√† ri√™ng,5,17,3,3,3,Ph∆∞·ªõc Long,NaN
1528310,üî•üî• NH√Ä ƒê·∫∏P HI·ªÜP B√åNH PH∆Ø·ªöC ‚Äì H·∫∫M XE H∆†I ‚Äì KHU ...,4500,66,"ƒë∆∞·ªùng Hi·ªáp B√¨nh,Ph∆∞·ªùng Hi·ªáp B√¨nh Ch√°nh,Qu·∫≠n Th...",Nh√† ri√™ng,4,NaN,2,NaN,2,Hi·ªáp B√¨nh Ch√°nh,Th·ªß ƒê·ª©c
1546519,üåü HXH - NH√Ä 3 T·∫¶NG ƒê·∫∏P ‚Äì TRUNG T√ÇM PH∆Ø·ªöC LONG ...,7500,92,"Ph∆∞·ªùng Ph∆∞·ªõc Long B,Qu·∫≠n 9,TP. H·ªì Ch√≠ Minh",Nh√† ri√™ng,5,17,3,3,3,Ph∆∞·ªõc Long B,9
1544240,üè° H√ÄNG HI·∫æM LINH CHI·ªÇU ‚Äì NH√Ä 2 T·∫¶NG ‚Äì V·ªä TR√ç V...,4750,45,"ƒë∆∞·ªùng s·ªë 19,Ph∆∞·ªùng Linh Chi·ªÉu,Qu·∫≠n Th·ªß ƒê·ª©c,TP....",Nh√† ri√™ng,4,12,3,NaN,2,Linh Chi·ªÉu,Th·ªß ƒê·ª©c
1528291,üöó NH√Ä ƒê·∫∏P H·∫∫M XE H∆†I ‚Äì V·ªä TR√ç VIP LINH T√ÇY ‚Äì G...,4800,82,"ƒë∆∞·ªùng s·ªë 9,Ph∆∞·ªùng Linh T√¢y,Qu·∫≠n Th·ªß ƒê·ª©c,TP. H·ªì...",Nh√† ri√™ng,8,NaN,2,1,1,Linh T√¢y,Th·ªß ƒê·ª©c

On Sep 2025, Saigon merged with multiple nearby province to form the new hcm city. The dataset had mixed of both the new addresses and the old addresses. I would have to transform the old addresses into new one.

In [9]:
df['Area'].describe()

count        51200
mean         59952
std        8904494
min              1
25%             79
50%            125
75%            378
max     1578861170
Name: Area, dtype: float64

In [10]:
# The objective of this analysis is to find a living space, I would remove all entries with Area less than 20 and more than 1000. This is to avoid both mislabeled and cut off outliers
df = df[df['Area'].between(20,1000)]

In [11]:
# Now to remove all duplicate offering, an agency could post the same property over and over again.
df = df.drop_duplicates(subset=['Title', 'Price', 'Area', 'Location','Property Type'])

In [12]:
df['Title'].info()

<class 'pandas.core.series.Series'>
Index: 42002 entries, 1546393.0 to 1213837.0
Series name: Title
Non-Null Count  Dtype
--------------  -----
42002 non-null  object
dtypes: object(1)
memory usage: 656.3+ KB

In [13]:
# Looking good, i'll export the sheet and continue on Tableau for this project
df.to_excel('data_cleaned.xlsx')