In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CovidDeaths.csv')

In [3]:
df.head()

,iso_code,continent,location,date,population,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,new_deaths_smoothed_per_million,reproduction_rate,icu_patients,icu_patients_per_million,hosp_patients,hosp_patients_per_million,weekly_icu_admissions,weekly_icu_admissions_per_million,weekly_hosp_admissions,weekly_hosp_admissions_per_million
0,AFG,Asia,Afghanistan,2020-01-05,41128772,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,41128772,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,41128772,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,41128772,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,41128772,0.0,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429435 entries, 0 to 429434
Data columns (total 26 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   iso_code                            429435 non-null  object
 1   continent                           402910 non-null  object
 2   location                            429435 non-null  object
 3   date                                429435 non-null  object
 4   population                          429435 non-null  int64
 5   total_cases                         411804 non-null  float64
 6   new_cases                           410159 non-null  float64
 7   new_cases_smoothed                  408929 non-null  float64
 8   total_deaths                        411804 non-null  float64
 9   new_deaths                          410608 non-null  float64
 10  new_deaths_smoothed                 409378 non-null  float64
 11  total_cases_per_million             411804 non-null  float64
 12  new_cases_per_million               410159 non-null  float64
 13  new_cases_smoothed_per_million      408929 non-null  float64
 14  total_deaths_per_million            411804 non-null  float64
 15  new_deaths_per_million              410608 non-null  float64
 16  new_deaths_smoothed_per_million     409378 non-null  float64
 17  reproduction_rate                   184817 non-null  float64
 18  icu_patients                        39116 non-null   float64
 19  icu_patients_per_million            39116 non-null   float64
 20  hosp_patients                       40656 non-null   float64
 21  hosp_patients_per_million           40656 non-null   float64
 22  weekly_icu_admissions               10993 non-null   float64
 23  weekly_icu_admissions_per_million   10993 non-null   float64
 24  weekly_hosp_admissions              24497 non-null   float64
 25  weekly_hosp_admissions_per_million  24497 non-null   float64
dtypes: float64(21), int64(1), object(4)
memory usage: 85.2+ MB

In [ ]:
t1 = df[df['location']!='World'].groupby(by=['continent','location'])[['total_cases','total_deaths']].agg(max)

In [30]:
totalCase = (t1.agg({'total_cases': 'sum', 'total_deaths': 'sum'}))
totalCase['mortality_ratio'] = totalCase['total_deaths'] / totalCase['total_cases']

In [31]:
# Get total_cases, total_deaths and mortality_rates by country
totalCase.to_csv('mortality_rate.csv', index=True)

In [35]:
# Get total Death by continent
t1.groupby(by='continent').agg({'total_deaths':'sum'}).to_csv('death_by_continent.csv',index=True)

In [ ]:
t2 = df[df['location']!='World'].groupby(by=['location'])[['population','total_cases']].agg(max)

In [52]:
t2[t2['total_cases'].isna()]

                  population  total_cases
location
England             56550000          NaN
Hong Kong            7488863          NaN
Macao                 695180          NaN
Northern Cyprus       382836          NaN
Northern Ireland     1896000          NaN
Scotland             5466000          NaN
Taiwan              23893396          NaN
Wales                3170000          NaN
Western Sahara        576005          NaN

In [53]:
# We have got some country with no cases value, lets drop them
t2= t2[t2['total_cases'].notna()]

In [54]:
# Calculate the % population infected
t2['PercentPopulationInfected'] = t2['total_cases']/t2['population']

In [55]:
t2

                   population  total_cases  PercentPopulationInfected
location
Afghanistan          41128772     235214.0                   0.005719
Africa             1426736614   13145380.0                   0.009214
Albania               2842318     335047.0                   0.117878
Algeria              44903228     272139.0                   0.006061
American Samoa          44295       8359.0                   0.188712
...                       ...          ...                        ...
Vietnam              98186856   11624000.0                   0.118387
Wallis and Futuna       11596       3760.0                   0.324250
Yemen                33696612      11945.0                   0.000354
Zambia               20017670     349842.0                   0.017477
Zimbabwe             16320539     266386.0                   0.016322

[245 rows x 3 columns]

In [56]:
t2.to_csv('PopulationInfectedByCountry.csv', index=True)

In [26]:
t3 = df[df['continent'].notna()].groupby(by=['location','date','population'])[['total_cases']].agg(max).reset_index()

C:\Users\Bluetail Zacky\AppData\Local\Temp\ipykernel_11176\2944139514.py:1: FutureWarning: The provided callable <built-in function max> is currently using DataFrameGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  t3 = df[df['continent'].notna()].groupby(by=['location','date','population'])[['total_cases']].agg(max).reset_index()

In [27]:
t3= t3[t3['total_cases'].notna()]

In [28]:
t3['PercentPopulationInfected'] = t3['total_cases'] / t3['population']

In [29]:
t3.to_csv('daily_cases_by_country.csv',index=True)